<font size="4">**1.** Importamos los archivos y cargamos las librerías</font>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
m_clientes = pd.read_excel('maestro_clientes.xlsx')
m_productos = pd.read_csv('maestro_productos.csv')
sellin_total = pd.read_csv('sellin-total.csv')
proveedor1 = pd.read_csv('sellout-proveedor1.csv')
proveedor2 = pd.read_csv('sellout-proveedor2.csv')

<font size="4">**2.** Exploramos 'm_clientes'</font>

In [ ]:
#Observamos que hay 4 identificadores repetidos: 2568, 143, 240 y 58
counts = m_clientes['NUM TDA'].value_counts()
repeated_values = counts[counts > 1]
print(repeated_values)
#Pero comprobamos esos valores y vemos que, 
# pese a que su numero de identificacion coincide, hay diferencias entre las tiendas.
lista_valores = [2568, 143, 240, 58]
condicion = m_clientes['NUM TDA'].isin(lista_valores)
m_clientes[condicion].sort_values('NUM TDA')

In [ ]:
conteo_nombres = m_clientes['NOMBRE DE TDA'].value_counts()

# Vemos que la mayoría aparecen solo una vez
fig, ax = plt.subplots()
conteo.plot.bar(ax=ax)
ax.set_xlabel('Nombre de la TDA')
ax.set_ylabel('Conteo')
ax.set_title('Conteo de apariciones por TDA')
plt.show()

In [ ]:
wqdqwdqwd

print("\n Conteo de valores para 'FORMATO':")
print(conteo_formato)

print("\n Conteo de valores para 'MUNICIPIO/CIUDAD':")
print(conteo_ciudad)

print("\n Conteo de valores para 'ESTADO':")
print(conteo_estado)

print("\n Conteo de valores para 'DIVISION':")
print(conteo_division)

print("\n Conteo de valores para 'DEPOSITO / DISTRIBUIDOR':")
print(conteo_distribuidor)

print("\n Conteo de valores para 'ESTRUCTURA':")
print(conteo_estructura)

print("\n CIPOTE GORDO:")
print(conteo_grado)

In [ ]:
#Evaluemos si hay NaN
hay_na = m_clientes.isna().any()
print(hay_na)

In [ ]:
#Comprobamos que la columna 'Store_Id' coincide con 'NUM TDA' , por lo que habrá que cambiarle el nombre
values_sellin = sellin_total.Store_Id.sort_values()
values_clientes = m_clientes['NUM TDA'].sort_values()
values_prov1 = proveedor1.Store_Id.sort_values()
values_prov2 = proveedor2.Store_Id.sort_values()
print(f"Valores sellin : {values_sellin}")
print(f"\n Valores clientes : {values_clientes}")
print(f"Valores proveedor1 : {values_prov1}")
print(f"Valores proveedor2 : {values_prov2}")

<font size="4">**3.** Exploramos 'm_productos'</font>

In [22]:
m_productos.head()

     Sku      Sku_Description   Sku_Category Sku_Subcategory
0  11058       Frosted Mango      Sugar-free     Cereal bars
1  29207  Nut Cheerios Mango   Super-flavour      Cereal box
2  38379    MultiGrain Mango      Sugar-free     Cereal bars
3  42671        Crunch Mango      Sugar-free     Cereal bars
4  54644          Corn Mango      Sugar-free     Cereal bars

In [23]:
#Evaluemos si hay NaN
hay_na = m_productos.isna().any()
print(hay_na)

Sku                False
Sku_Description    False
Sku_Category       False
Sku_Subcategory    False
dtype: bool

In [27]:
#Evaluemos si hay Duplicados
hay_na = m_productos.duplicated().value_counts()
print(hay_na)

False    1242
Name: count, dtype: int64

In [29]:
#Veamos las categorías. Solo hay 2: Sugar-free Super-flavour
categorias = m_productos.Sku_Category.value_counts()
print(categorias)

Sku_Category
Sugar-free       961
Super-flavour    281
Name: count, dtype: int64

In [30]:
#Veamos las subcategorías. Hay 2 e incluye LECHES UHT
categorias = m_productos.Sku_Subcategory.value_counts()
print(categorias)

Sku_Subcategory
Cereal box     887
Cereal bars    354
LECHES UHT       1
Name: count, dtype: int64

In [31]:
condicion = m_productos['Sku_Subcategory'] == 'LECHES UHT'
print(m_productos[condicion])

         Sku Sku_Description Sku_Category Sku_Subcategory
499  5007624       Corn Orio   Sugar-free      LECHES UHT