<font size="4">**1.** Importamos los archivos y cargamos las librerías</font>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
m_clientes = pd.read_excel('maestro_clientes.xlsx')
m_productos = pd.read_csv('maestro_productos.csv')
sellin_total = pd.read_csv('sellin-total.csv')
proveedor1 = pd.read_csv('sellout-proveedor1.csv')
proveedor2 = pd.read_csv('sellout-proveedor2.csv')

<font size="4">**2.** Exploramos 'm_clientes'</font>

In [ ]:
#Observamos que hay 4 identificadores repetidos: 2568, 143, 240 y 58
counts = m_clientes['NUM TDA'].value_counts()
repeated_values = counts[counts > 1]
print(repeated_values)
#Pero comprobamos esos valores y vemos que, 
# pese a que su numero de identificacion coincide, hay diferencias entre las tiendas.
lista_valores = [2568, 143, 240, 58]
condicion = m_clientes['NUM TDA'].isin(lista_valores)
m_clientes[condicion].sort_values('NUM TDA')

In [ ]:
conteo_nombres = m_clientes['NOMBRE DE TDA'].value_counts()

# Vemos que la mayoría aparecen solo una vez
fig, ax = plt.subplots()
conteo.plot.bar(ax=ax)
ax.set_xlabel('Nombre de la TDA')
ax.set_ylabel('Conteo')
ax.set_title('Conteo de apariciones por TDA')
plt.show()

In [ ]:

print("\n Conteo de valores para 'FORMATO':")
print(conteo_formato)

print("\n Conteo de valores para 'MUNICIPIO/CIUDAD':")
print(conteo_ciudad)

print("\n Conteo de valores para 'ESTADO':")
print(conteo_estado)

print("\n Conteo de valores para 'DIVISION':")
print(conteo_division)

print("\n Conteo de valores para 'DEPOSITO / DISTRIBUIDOR':")
print(conteo_distribuidor)

print("\n Conteo de valores para 'ESTRUCTURA':")
print(conteo_estructura)

print("\n CIPOTE GORDO:")
print(conteo_grado)

In [ ]:
#Evaluemos si hay NaN
hay_na = m_clientes.isna().any()
print(hay_na)

In [ ]:
#Comprobamos que la columna 'Store_Id' coincide con 'NUM TDA' , por lo que habrá que cambiarle el nombre
values_sellin = sellin_total.Store_Id.sort_values()
values_clientes = m_clientes['NUM TDA'].sort_values()
values_prov1 = proveedor1.Store_Id.sort_values()
values_prov2 = proveedor2.Store_Id.sort_values()
print(f"Valores sellin : {values_sellin}")
print(f"\n Valores clientes : {values_clientes}")
print(f"Valores proveedor1 : {values_prov1}")
print(f"Valores proveedor2 : {values_prov2}")

<font size="4">**3.** Exploramos 'm_productos'</font>

In [5]:
print(m_productos.head())
print(m_productos.info())

     Sku      Sku_Description   Sku_Category Sku_Subcategory
0  11058       Frosted Mango      Sugar-free     Cereal bars
1  29207  Nut Cheerios Mango   Super-flavour      Cereal box
2  38379    MultiGrain Mango      Sugar-free     Cereal bars
3  42671        Crunch Mango      Sugar-free     Cereal bars
4  54644          Corn Mango      Sugar-free     Cereal bars
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sku              1242 non-null   int64
 1   Sku_Description  1242 non-null   object
 2   Sku_Category     1242 non-null   object
 3   Sku_Subcategory  1242 non-null   object
dtypes: int64(1), object(3)
memory usage: 38.9+ KB
None

In [23]:
#Evaluemos si hay NaN
hay_na = m_productos.isna().any()
print(hay_na)

Sku                False
Sku_Description    False
Sku_Category       False
Sku_Subcategory    False
dtype: bool

In [7]:
#Evaluemos si hay Duplicados
hay_na = m_productos.Sku_Description.value_counts()
print(hay_na)

Sku_Description
Frosted Mango                       1
Frosted cherry                      1
Peanut Butter cherry                1
Sugar cherry                        1
Graham cherry                       1
                                   ..
Fruit & Bran Chocolate              1
Double Dip Crunch Chocolate         1
Crunchy Nut Cornflakes Chocolate    1
Crunchy Bran Chocolate              1
Gorilla Chilifest Chocolate         1
Name: count, Length: 1242, dtype: int64

In [29]:
#Veamos las categorías. Solo hay 2: Sugar-free Super-flavour
categorias = m_productos.Sku_Category.value_counts()
print(categorias)

Sku_Category
Sugar-free       961
Super-flavour    281
Name: count, dtype: int64

In [30]:
#Veamos las subcategorías. Hay 2 e incluye LECHES UHT
categorias = m_productos.Sku_Subcategory.value_counts()
print(categorias)

Sku_Subcategory
Cereal box     887
Cereal bars    354
LECHES UHT       1
Name: count, dtype: int64

In [9]:
condicion = m_productos['Sku_Subcategory'] == 'LECHES UHT'
print(m_productos[condicion])
condicion2 = m_productos['Sku'] == 5007624
print(m_productos[condicion2])

         Sku Sku_Description Sku_Category Sku_Subcategory
499  5007624       Corn Orio   Sugar-free      LECHES UHT
         Sku Sku_Description Sku_Category Sku_Subcategory
499  5007624       Corn Orio   Sugar-free      LECHES UHT

<font size="4">**3.** Exploramos 'sellin_total'</font>

In [14]:
sellin_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       int64
 1   Date      object
 2   Store_Id  int64
 3   Pieces    float64
 4   Price     float64
 5   Margin    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 191.7+ MB

In [10]:
sellin_total.head()

       Sku        Date  Store_Id  Pieces  Price  Margin
0  4220015  02/01/2015       100    20.0  13.01    9.78
1  4220015  02/01/2015       116    20.0  13.01    9.78
2  4220015  02/01/2015       141    80.0  13.01    9.78
3  4220015  02/01/2015       146    10.0  13.01    9.78
4  4220015  02/01/2015       151    20.0  13.09    9.87

In [27]:
sku = sellin_total.Sku.sort_values().value_counts()
date = sellin_total.Date.sort_values().value_counts()
storeid = sellin_total.Store_Id.sort_values().value_counts()
pieces = sellin_total.Pieces.sort_values().value_counts()
price = sellin_total.Price.sort_values().value_counts()
margin = sellin_total.Margin.sort_values().value_counts()
print(f"{sku},\n \n {date}, \n \n {storeid}, \n \n {pieces}, \n \n {price}, \n \n {margin}")

Sku
4381425    271548
4779537    256414
4442378    250666
4240039    245164
4769520    239512
4230022    227879
4351043    215167
4250046    207055
4554143    203715
4330800    200072
4789544    192238
4533931    172020
4523924    151961
4809797    147775
4361050    133646
4615034    132413
4665676    127974
4655669    109360
4220015     99834
4574433     97343
4819810     94454
4625287     76690
4543948     69335
4829827     52691
4432194     37545
4709131     36402
4422187     35836
4260053     31058
4697052     25974
4729193     18407
4675706     16782
4719179      5726
4749421      3210
4739414      2917
Name: count, dtype: int64,

 Date
13/12/2016    7860
02/05/2017    7598
03/11/2015    7557
17/11/2015    7503
18/04/2016    7495
              ...
25/03/2016     502
22/01/2017      51
04/09/2016      50
05/07/2015      29
14/02/2016      15
Name: count, Length: 757, dtype: int64,

 Store_Id
2345    9591
3897    8870
3846    8835
232     8730
2382    8631
        ...
2947       1
3746       1
3489       1
5425       1
2774       1
Name: count, Length: 1624, dtype: int64,

 Pieces
10.80       285110
6.75        197807
12.00       197727
24.00       193850
4.80        185424
             ...
847.35           1
831.15           1
830.70           1
830.25           1
36000.00         1
Name: count, Length: 3833, dtype: int64,

 Price
36.06    145103
36.23    128678
35.77    110964
35.54    107444
35.37     99558
          ...
45.47         3
46.40         3
13.21         2
46.90         2
36.19         1
Name: count, Length: 279, dtype: int64,

 Margin
9.84     78362
9.36     69146
9.41     64517
9.53     63189
12.48    60411
         ...
8.45         1
29.69        1
12.09        1
8.09         1
12.80        1
Name: count, Length: 483, dtype: int64

In [28]:
condicion = sellin_total.Pieces == 0
print(sellin_total[condicion])

             Sku        Date  Store_Id  Pieces  Price  Margin
24       4220015  02/01/2015      1161     0.0  12.59    9.36
136      4220015  02/01/2015      5843     0.0  12.72    9.49
171      4220015  03/01/2015      1202     0.0  12.59    9.36
279      4220015  03/01/2015      4128     0.0  12.59    9.36
438      4220015  05/01/2015      5730     0.0  12.59    9.36
...          ...         ...       ...     ...    ...     ...
4188052  4829827  17/05/2017      2093     0.0  20.51   14.62
4188207  4829827  19/05/2017      3776     0.0  20.51   14.62
4188281  4829827  20/05/2017      3834     0.0  20.51   14.62
4188404  4829827  23/05/2017      3857     0.0  20.51   14.62
4188601  4829827  29/05/2017      1124     0.0  20.51   14.62

[46950 rows x 6 columns]