<font size="4">**1.** Importamos los archivos y cargamos las librerías</font>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [7]:
m_clientes = pd.read_excel('maestro_clientes.xlsx')
m_productos = pd.read_csv('maestro_productos.csv')
sellin_total = pd.read_csv('sellin-total.csv')
proveedor1 = pd.read_csv('sellout-proveedor1.csv')
proveedor2 = pd.read_csv('sellout-proveedor2.csv')

<font size="4">**2.** Exploramos 'm_clientes'</font>

In [44]:
#Exploramos clientes
m_clientes.head(5)

,NUM TDA,NOMBRE DE TDA,CADENA,FORMATO,MUNICIPIO/CIUDAD,ESTADO,DIVISION,DEPOSITO / DISTRIBUIDOR,ESTRUCTURA,GRADO
0,2,Bloody Sea Green BookShop,proveedor_1,Shop,Bizarre White Shop,Coalmar,SURESTE,Mogulval Corp.,DISTRIBUIDORES,VI
1,4,Funny Sky Blue GipsyTrade,proveedor_1,Shop,Bizarre White Shop,Coalmar,SURESTE,Mogulval Corp.,DISTRIBUIDORES,VI
2,5,Rare Green Laundrette,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI
3,6,Angry Indigo Center,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI
4,7,Tall Violet Deli,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI

In [ ]:
#Observamos que hay 4 identificadores repetidos: 2568, 143, 240 y 58
counts = m_clientes['NUM TDA'].value_counts()
repeated_values = counts[counts > 1]
print(repeated_values)
#Pero comprobamos esos valores y vemos que, 
# pese a que su numero de identificacion coincide, hay diferencias entre las tiendas.
lista_valores = [2568, 143, 240, 58]
condicion = m_clientes['NUM TDA'].isin(lista_valores)
m_clientes[condicion].sort_values('NUM TDA')

In [ ]:
conteo_nombres = m_clientes['NOMBRE DE TDA'].value_counts()

# Vemos que la mayoría aparecen solo una vez
fig, ax = plt.subplots()
conteo.plot.bar(ax=ax)
ax.set_xlabel('Nombre de la TDA')
ax.set_ylabel('Conteo')
ax.set_title('Conteo de apariciones por TDA')
plt.show()

In [60]:
conteo_cadena = m_clientes['CADENA'].value_counts()
conteo_cadena

CADENA
proveedor_2    2215
proveedor_1     237
Name: count, dtype: int64