<font size="4">**1.** Importamos los archivos y cargamos las librerías</font>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
m_clientes = pd.read_excel('maestro_clientes.xlsx')
m_productos = pd.read_csv('maestro_productos.csv')
sellin_total = pd.read_csv('sellin-total.csv')
proveedor1 = pd.read_csv('sellout-proveedor1.csv')
proveedor2 = pd.read_csv('sellout-proveedor2.csv')

<font size="4">**2.** Exploramos 'm_clientes'</font>

In [ ]:
#Observamos que hay 4 identificadores repetidos: 2568, 143, 240 y 58
counts = m_clientes['NUM TDA'].value_counts()
repeated_values = counts[counts > 1]
print(repeated_values)
#Pero comprobamos esos valores y vemos que, 
# pese a que su numero de identificacion coincide, hay diferencias entre las tiendas.
lista_valores = [2568, 143, 240, 58]
condicion = m_clientes['NUM TDA'].isin(lista_valores)
m_clientes[condicion].sort_values('NUM TDA')

In [ ]:
conteo_nombres = m_clientes['NOMBRE DE TDA'].value_counts()

# Vemos que la mayoría aparecen solo una vez
fig, ax = plt.subplots()
conteo.plot.bar(ax=ax)
ax.set_xlabel('Nombre de la TDA')
ax.set_ylabel('Conteo')
ax.set_title('Conteo de apariciones por TDA')
plt.show()

In [ ]:

print("\n Conteo de valores para 'FORMATO':")
print(conteo_formato)

print("\n Conteo de valores para 'MUNICIPIO/CIUDAD':")
print(conteo_ciudad)

print("\n Conteo de valores para 'ESTADO':")
print(conteo_estado)

print("\n Conteo de valores para 'DIVISION':")
print(conteo_division)

print("\n Conteo de valores para 'DEPOSITO / DISTRIBUIDOR':")
print(conteo_distribuidor)

print("\n Conteo de valores para 'ESTRUCTURA':")
print(conteo_estructura)

print("\n CIPOTE GORDO:")
print(conteo_grado)

In [ ]:
#Evaluemos si hay NaN
hay_na = m_clientes.isna().any()
print(hay_na)

In [ ]:
#Comprobamos que la columna 'Store_Id' coincide con 'NUM TDA' , por lo que habrá que cambiarle el nombre
values_sellin = sellin_total.Store_Id.sort_values()
values_clientes = m_clientes['NUM TDA'].sort_values()
values_prov1 = proveedor1.Store_Id.sort_values()
values_prov2 = proveedor2.Store_Id.sort_values()
print(f"Valores sellin : {values_sellin}")
print(f"\n Valores clientes : {values_clientes}")
print(f"Valores proveedor1 : {values_prov1}")
print(f"Valores proveedor2 : {values_prov2}")

<font size="4">**3.** Exploramos 'm_productos'</font>

In [5]:
print(m_productos.head())
print(m_productos.info())

     Sku      Sku_Description   Sku_Category Sku_Subcategory
0  11058       Frosted Mango      Sugar-free     Cereal bars
1  29207  Nut Cheerios Mango   Super-flavour      Cereal box
2  38379    MultiGrain Mango      Sugar-free     Cereal bars
3  42671        Crunch Mango      Sugar-free     Cereal bars
4  54644          Corn Mango      Sugar-free     Cereal bars
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sku              1242 non-null   int64
 1   Sku_Description  1242 non-null   object
 2   Sku_Category     1242 non-null   object
 3   Sku_Subcategory  1242 non-null   object
dtypes: int64(1), object(3)
memory usage: 38.9+ KB
None

In [23]:
#Evaluemos si hay NaN
hay_na = m_productos.isna().any()
print(hay_na)

Sku                False
Sku_Description    False
Sku_Category       False
Sku_Subcategory    False
dtype: bool

In [7]:
#Evaluemos si hay Duplicados
hay_na = m_productos.Sku_Description.value_counts()
print(hay_na)

Sku_Description
Frosted Mango                       1
Frosted cherry                      1
Peanut Butter cherry                1
Sugar cherry                        1
Graham cherry                       1
                                   ..
Fruit & Bran Chocolate              1
Double Dip Crunch Chocolate         1
Crunchy Nut Cornflakes Chocolate    1
Crunchy Bran Chocolate              1
Gorilla Chilifest Chocolate         1
Name: count, Length: 1242, dtype: int64

In [29]:
#Veamos las categorías. Solo hay 2: Sugar-free Super-flavour
categorias = m_productos.Sku_Category.value_counts()
print(categorias)

Sku_Category
Sugar-free       961
Super-flavour    281
Name: count, dtype: int64

In [30]:
#Veamos las subcategorías. Hay 2 e incluye LECHES UHT
categorias = m_productos.Sku_Subcategory.value_counts()
print(categorias)

Sku_Subcategory
Cereal box     887
Cereal bars    354
LECHES UHT       1
Name: count, dtype: int64

In [9]:
condicion = m_productos['Sku_Subcategory'] == 'LECHES UHT'
print(m_productos[condicion])
condicion2 = m_productos['Sku'] == 5007624
print(m_productos[condicion2])

         Sku Sku_Description Sku_Category Sku_Subcategory
499  5007624       Corn Orio   Sugar-free      LECHES UHT
         Sku Sku_Description Sku_Category Sku_Subcategory
499  5007624       Corn Orio   Sugar-free      LECHES UHT

<font size="4">**3.** Exploramos 'sellin_total'</font>

In [14]:
sellin_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       int64
 1   Date      object
 2   Store_Id  int64
 3   Pieces    float64
 4   Price     float64
 5   Margin    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 191.7+ MB

In [10]:
sellin_total.head()

       Sku        Date  Store_Id  Pieces  Price  Margin
0  4220015  02/01/2015       100    20.0  13.01    9.78
1  4220015  02/01/2015       116    20.0  13.01    9.78
2  4220015  02/01/2015       141    80.0  13.01    9.78
3  4220015  02/01/2015       146    10.0  13.01    9.78
4  4220015  02/01/2015       151    20.0  13.09    9.87

In [ ]:
sku = sellin_total.Sku.value_counts()
date = sellin_total.Date.value_counts()
storeid = sellin_total.Store_Id.value_counts()
pieces = sellin_total.Pieces.value_counts()
price = sellin_total.Price.value_counts()
margin = sellin_total.Margin.value_counts()
print(sku, date, storeid, pieces, price, margin)